<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/newday}" th:object="${currency}">
    <label for="euro">Введите курс евро к рублю</label>
    <input type="text" th:field="*{euro}" id="euro"/>
    <br/>
    <label for="dollar">Введите курс доллара к рублю</label>
    <input type="text" th:field="*{dollar}" id="dollar"/>
    <br/>
    <input type="submit" value="Sign up!">
</form>
</body>
</html>