<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${value}">
    <h2 th:text="'курс доллара к рублю ' + *{dollar} "/>
    <br/>
    <h2 th:text="'курс евро к рублю ' + *{euro} "/>
    <br/>
    <h2 th:text="'текущий день ' + *{currencyDate} "/>
    <br/>
</div>
<form th:method="POST" th:action="@{/operations}" th:object="${last_oper}">
    <div>
        <label for="euro">Choose a car:</label>
        <select id="euro" name="euro">
            <option value="sell">Volvo</option>
            <option value="buy">Saab</option>
        </select>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>